<%- include ('../partials/header') %>



<div class="container">
    <br>
    <hr>
    <br><br><br>
    <div class="card">
        <div class="card-header bg-dark text-white">
            <center><h2>Login</h2></center>
        </div>
        
        
        <div class="card-body bg-dark text-white">

                <form class="form-control" method="POST" action="/login">
                    <center>

                        <input class="form-control" type="text" name="login" placeholder="Insira seu login">
                        <br><br>
                        <input class="form-control" type="password" name="password" placeholder="Insira sua senha">
                        <br>
                        
                    </center>
                    <button class="btn btn-primary">Entrar</button>
                </form>
        </div>
    
    
    </div>
</div>




<%- include ('../partials/footer') %>